@using Codeer.LowCode.Bindings.MudBlazor.Enums
@using Codeer.LowCode.Blazor.OperatingModel
@using Microsoft.AspNetCore.Components.Web
@inherits MudFieldComponentBase<PasswordField, MudPasswordFieldDesign>

@if (IsViewMode != true) {
  <div style="margin-bottom:10px">
    <MudTextField T="string?" @bind-Value:get="@Value" @bind-Value:set="@RaiseOnValueChanged" InputId="@WebElementId"
                  Disabled="@IsDisabled" InputType="InputType.Password" Placeholder="Password"
                  Variant="MudDesign.Variant.ToVariant()" />
  </div>
  <div>
    <MudTextField T="string?" @bind-Value="@ConfirmPassword" InputId="@(WebElementId + "Confirm")"
                  Disabled="@IsDisabled" InputType="InputType.Password" Placeholder="Password (confirmation)"
                  Variant="MudDesign.Variant.ToVariant()" />
  </div>
}

@code {
  private bool IsDisabled => Field.IsEnabled == false;
  private bool IsViewMode => Field.IsViewOnly;
  private string? Value => Field.Value;

  string ConfirmPassword {
    get => Field.ConfirmPassword;
    set => Field.ConfirmPassword = value;
  }

  private async Task RaiseOnValueChanged(string? value) {
    await Field.SetValueAsync(value);
  }

}